.Logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  overflow: hidden;
  z-index: 10;
  width: 50%;
}

.Heading {
  font-weight: 600;
  font-size: 2.5rem;
  text-align: center;
}

.Description {
  margin-bottom: 12px;
  text-align: center;
}

.MainPitchContainer {
  max-width: 800px;
  margin: 30px auto;
  padding: 24px;
  border: dashed 2px #15116f;
  white-space: "pre-line";
}

.MainPitchDescription {
  color: #4a4a4a;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.25;
  white-space: pre-wrap;
}

.ReadMore {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

.Slide {
  height: 100vh;
  margin-top: -52px;
}

@media (max-width: 600px) {
  .Logo {
    width: 60%;
  }
}
