.Chip {
  color: #fff;
  background-color: #15116f;
  padding: 12px 16px;
  border-radius: 100px;
  font-size: 1.1rem;
  display: flex;
  justify-content: center;

  &::before {
    content: "";
    background-color: #fff;
    height: 24px;
    width: 24px;
    margin-right: 8px;
    mask-size: cover;
    mask-image: url(/svg/arrow-down2.svg);
  }
}
